/* Challenge 1 */
div{
  display: flex;
  height: 375px;
  width: 300px;
}

/* Challenge 3 */
div{
  margin-top:100px;
  margin-left:100px;
  border:5px dashed red;
}

/* Challenge 4 */
div{
  padding: 10px 5px;
}